* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: snow;
  padding: 30px; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  animation: moveInBottom 1s ease-out; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #444444;
  color: snow; }
  .btn-white::after {
    background-color: #444444; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0; }

.btn-animated {
  animation: moveInBottom .5s east-out; }

.row {
  max-width: 114rem;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 80px; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.header {
  height: 92vh;
  background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.8), rgba(255, 255, 255, 0.1)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 700px, 0 100%); }
  .header.logo {
    height: 35px;
    text-align: center; }
  .header .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header .logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }

.heading-primary {
  color: snow;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary-main {
    display: block;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    animation: moveInLeft 1s ease-out; }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
    animation: moveInRight 1s ease-out; }
