.row {
    max-width: 114rem;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 80px;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix
}