.btn {
    &:link,
    &:visited {
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
    
        animation: moveInBottom 1s ease-out;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-grey, .2);
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-grey, .2);
    }
    
    &-white {
        background-color: rgba($color-grey, .5);
        color: snow;
        &::after {
            background-color: rgba($color-grey, .5);
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &:hover::after {
        transform: scale(1.5);
        opacity: 0;
    }
    
    &-animated {
        animation: moveInBottom .5s east-out;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: black;
        text-decoration: none;
        display: inline-block;
        border-bottom: 1px solid black;
        padding: 3px;
        transition: all  .2s;

    }

    &:hover {
        background-color: $color-grey;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }

}