.composition {
    position: relative;
    &-photo {
        width: 55%;
        height: auto;
        filter:drop-shadow(5px 5px 10px rgba($color-black, .7));        
        position: absolute;
        transition: all .3s;
        z-index: 1;

        &-p1 {
            left: 0;
            top: -2rem;
        }
        &-p2 {
            right: 2rem;
            top: -2rem;
        }
        &-p3 {
            left: 20%;
            top: 10rem;
        }
        &:hover {
            transform: scale(1.1);
            filter:drop-shadow(15px 15px 10px rgba($color-black, .9));
            z-index: 2;
        }
    }

    &:hover &-photo:not(:hover) {
        transform: scale(.7);
    }

}