.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(to right, black, gray);
    display: inline-block;
    -webkit-background-clip: text;
    
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}

.paragraph {
    font-size: 1.6rem;
    color: black;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}