.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(to right, black, gray);
    display: inline-block;
    -webkit-background-clip: text;
    
}